<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>3aila</title>
</head>
<body>
    <div id="haut">
        <img id='logo' src="static/3aila-.png">
    </div>
        <h1>Le fichier est passé du bon coté de la force</h1>
        <a href="upload">
            <button>📤</button>
        </a>
        <a href="feed">
            <button>📰</button>
        </a>
    </div>

</body>
</html>