<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>3aila</title>
</head>
<body>
    <div id="haut">
        <img id='logo' src="static/3aila-.png">
    </div>
    <div id="plublications"/>
        <h1>test</h1>
        {% for i in fichiers: %}
            <img src="{{ url_for('static', filename='files/' + i) }}" alt="{{ i }}">
        {% endfor %}

</body>
</html>